<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>listofstudentwithcoursename</servlet-name>
        <servlet-class>API.listofstudentwithcoursename</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Coursedetails</servlet-name>
        <servlet-class>API.Coursedetails</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ShowEnrolledCoursesHistory</servlet-name>
        <servlet-class>API.ShowEnrolledCoursesHistory</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>addStudent</servlet-name>
        <servlet-class>API.addStudent</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>addStudent01</servlet-name>
        <servlet-class>API.addStudent01</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>listofstudentwithcoursename</servlet-name>
        <url-pattern>/listofstudentwithcoursename</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Coursedetails</servlet-name>
        <url-pattern>/Coursedetails</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ShowEnrolledCoursesHistory</servlet-name>
        <url-pattern>/ShowEnrolledCoursesHistory</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>addStudent</servlet-name>
        <url-pattern>/addStudent</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>addStudent01</servlet-name>
        <url-pattern>/addStudent01</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
